/* Hello world */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 16px;
}

header {
    padding: 40px;
    text-align: center;
    background: #0077ff;
    color: white;
    /* background-color: blue;*/
}

nav {
    display: flex;
}

.tabBouton {
    background-color: #333;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 30px;
    font-size: 20px;
    width: 33.33%; 
    /*
    text-decoration: none;
    text-align: center;
    */
}

.tabBouton:hover {
    background-color: #ddd;
    color: black;
}
/*
main {
    display: flex;
    background-color: white;
    padding: 20px;
}
*/

.tabContenu {
    /* color: white; */
    display: none;
    padding: 20px 20px;
    height: 100%;
}

/*
footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
*/

.ajoutMachine {
    /* border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 20px; */
}

.titrePage {
    text-align: center;
    /* background-color: crimson; */
}

.barreProgressionCreation {
    margin: 20px;
    overflow: hidden;
    text-align: center;
    /*grid-column: 1/3;*/
}

.barreProgressionCreationEtape {
    background-color: #cccccc;
    border-radius: 5px;
    width: 90px;
    height: 6px;
    overflow: hidden;
    display: inline-flex;
}

.formCreationElement {
    margin: 10px 0px;
}

.navigationFormCreation {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.boutonNavigationFormCreation {
    /* grid-column: 1/3; */
    background-color: springgreen;
    margin: 20px;
}

.cluster {
    padding: 0px 10px;
    margin: 20px 0px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/* .tableauMachine {
    padding: 0px 10px;
} */

.nomCluster {
    font-size: 18px;
    font-weight: bold;
}

table.machine {
    padding-bottom: 3px;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

td.machine, th.machine {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even).machine {
    background-color: #dddddd;
}

.smallLoader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.bigLoader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.barreTitreGestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titreGestion {

}

.rafraichirCluster {
    display: flex;
    justify-content: flex-end;
}

.etatRafraichissement {
    margin-right: 10px;
}

.boutonRafraichissement {
    background-color: #333; 
    border: none;
    border-radius: 4px; 
    height: 35px;
    width: 35px;
    cursor: pointer; /* Mouse pointer on hover */
    background-image: url("icones/icons8-refresh-30.png");
    background-position: center;
    background-repeat: no-repeat;
}

.boutonRafraichissement:hover {
    background-color: #4f4f4f;
}

.alerte {
    padding: 20px;
    color: white;
}

.alerteErreur {
    background-color: #f44336;
}

.alerteWarning {
    background-color: #ff9800;
}

.alerteSucces {
    background-color: #4CAF50;
}

.alerteInfo {
    background-color: #2196F3;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}
  
.closebtn:hover {
    color: black;
}

 /* The Modal (background) */
 .modalDeleteCluster {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .contenuModalDeleteCluster {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .fermetureModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .fermetureModal:hover,
  .fermetureModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 